<h1>This is the secret page</h1>

<p>You found me!</p>

<img src = "https://www.stamford.com.au/content/user/1/images/SPA%20Images/Secret/secret-header.jpg">
<img src = "http://static1.squarespace.com/static/5506f3eee4b0e08b6893701f/5506f46be4b04d6f09d9c3c2/57924fc8bebafb95b9922197/1470682390815/trade-secrets.jpg?format=1000w">
<img src = "https://vignette.wikia.nocookie.net/secretlifeofpets/images/0/04/Snowball.png/revision/latest?cb=20160615084851">

<li><a href = "/register">Sign Up</a></li>
<li><a href = "/login">Sign In</a></li> <!--Login-->
<li><a href = "/logout">Sign Out</a></li> <!--Logout-->