    <div style = "text-align: center; padding: 20px; min-height: 100%; margin: 0 0 390px">
        <div style = "height: 50px"></div>
    </div>
    <p style = "text-align: center; height: 10px">TradeMark YelpCamp 2018</p>
    </body>
</html>