<!DOCTYPE html>
<html>
    <head>
        <title>User List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        
        <!--<nav class = "navbar navbar-default">-->
        <!--    <div class = "container-fluid">-->
        <!--        <div class = "navbar-header">-->
        <!--            <a class = "navbar-brand" href = "/">UserList</a>-->
        <!--        </div>-->
        <!--        <div class = "collapse navbar-collapse">-->
        <!--            <ul class = "nav navbar-nav navbar-right">-->
        <!--                <li><a href = "/users/new">Add New User</a></li>-->
        <!--            </ul>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</nav>-->
        
        <div class = "ui fixed inverted menu">
            <div class = "ui container">
                <div class = "header item"><i class="code icon"></i>Users List</div>
                <a href = "/" class = "item">Home</a>
                <a href = "/users/new" class = "item">Add New User</a>
            </div>
        </div>